.text
{
    
    background-color:pink;
     height:29%;
   
     
   

    
    
   
    
}
.h4
{
    background-color: purple;
    color: aliceblue;
   
    width:4%;
    height: 10%;
    padding:45px 13px 45px 0px;
    
    margin-left:2%;
   
  
   
    
    
    
  
           

   
}


   

h3
{
    background-color:pink;
    width:8%;
    margin-right: 1%; 
    
 
   
      
    
}
select
{
    padding-right: 2%;
}
button
{
    background-color: black;
    color: aliceblue;
}
body

{
   background-color:grey;
}






